:root{
    --primary-color:#e50914;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'arial' , sans-serif;
    -webkit-font-smoothing:antialiased;
    background: #000;
    color: #999;
}
ul{
    list-style-type: none;
}
h1,h2,h3,h4{
    color: #fff;
}
a{
    color: #fff;
    text-decoration: none;
}
p{
    margin: 0.5rem 0 ;
}
div{
    display: block;
}
.showcase{
    width: 100%;
    height: 93vh;
    position: relative;
    background-image: url(back1.jpg);
    
}

.showcase-top{
    position: relative;
    height: 90px;
}
.showcase-top img{
    width: 170px;
    height: 70px;
    background-color: black;
}
.showcase-top a{
    position: absolute;
    top: 50%;
    right: 2%;

}
.btt{
    background:  #e50914;
    font-size: 1rem;
    font-weight: 400;
    float: right;
    text-align: center;
    transform:translate(-50%,-50%);
    border-radius: 5px;
    height: 30px;
    justify-content: center;
    padding: 7px 17px;
    line-height: normal;
}
.showcase-content{
    width: 100%;
    position: absolute;
    text-align: center;
    justify-content: center;
    top: 35%;
    
}
.maintext h1{   
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}
.secoundtext h1{
    font-size: 3rem;
    margin: 0.02;
}
.showcase h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 1rem 0;
    font-size: 1.125rem;
}
.free{
    float: none;
    margin-top: 0.75rem;
    display:block;
    position: relative;
    width: 100%
    padding: 75px 0 ;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    font-size: 1.125rem;
    border-bottom: 8px solid #222;
    padding: 100px 5%;
    margin-bottom: 0;
    background: transparent;
    color: white;
    padding-right:2.2rem ;
    padding-left: 1rem;
    min-height: 44px;
    border: 1px solid red;
    margin: .5rem auto;
    line-height: normal;
    padding:.35rem 1rem;
    line-height: initial;
    min-width: 112px;
    color: white;
    background-color: red;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 3px;
    text-align: center;    
    box-sizing: border-box;
    width: 250px;
    justify-content: center;
    
}
.remainder{
    text-align: center;
    max-height: none;
    height: auto;
    position: relative;
    border-bottom: 8px solid grey;
    padding: 50px 5%;
    margin-bottom: 0;
    background: transparent;
    color: white;
    border-top: 8px solid grey;
}
.remainder-text{
    text-align: center;
    position: relative;
    margin: 0 auto;
    max-width: 1100px;
    font-size: 1.125rem;
    font-weight: normal;
}
.remainder-text-title{
    margin: 0;
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5px;
}
.remainder-text-title h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.widget{
    margin:2rem 0 ;
}
.widget .widget-label{
    position: relative;
}
.widget .duration-text{
    position: absolute;
    width: 38%;
    color: #00d65f;
    font-weight: 600;
    text-align: left;
    left: 170;
    bottom: 0;
    font-size: 25px;
}
.billing{
    width: 20%;
    text-align: center;
    margin: 0 auto;
    color: #8c8c8c;
}
.remainder .billing .bill-label{
    display: inline-block;
    margin: 0 -50%;
    font-size: 22px;
}
.remainder .billing .bill-date{
    color: #fff;
    display: block;
    white-space: nowrap;
    font-size: 30px;
}
.remainder .secound-bill{
    left: 80%;
    position: absolute;
    white-space: nowrap;
    bottom: 0;
    color: #fff;
    transform: translateX(-50%);
    font-size: 30px;
}
.remainder .timeline{
    position: relative;
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, #00d65f), color-stop(50%, #308234), color-stop(50%, #3f3f3f), color-stop(85%, #3f3f3f), to(rgba(63, 63, 63, 0)));
    background: -webkit-linear-gradient(left, #00d65f 10%, #308234 50%, #3f3f3f 50%, #3f3f3f 85%, rgba(63, 63, 63, 0) 100%);
    background: -moz- oldlinear-gradient(left, #00d65f 10%, #308234 50%, #3f3f3f 50%, #3f3f3f 85%, rgba(63, 63, 63, 0) 100%);
    background: -o-linear-gradient(left, #00d65f 10%, #308234 50%, #3f3f3f 50%, #3f3f3f 85%, rgba(63, 63, 63, 0) 100%);
    background: linear-gradient(to right, #00d65f 10%, #308234 50%, #3f3f3f 50%, #3f3f3f 85%, rgba(63, 63, 63, 0) 100%);
    width: 70%;
    height: 2.5em;
    -webkit-border-radius: 0.75em 0 0 0.75em;
    -moz-border-radius: 0.75em 0 0 0.75em;
    border-radius: 1.75em 0 0 1.75em;
    margin: 0.5em 10.1em 1.25em;
}
.remainder .remainder-label{
    padding-left: 6rem;
    position: relative;
    left:47%;
    margin-left: -6.9rem;
    text-align: left;
    font-size: 1.4rem;
    padding-top: 2px;
}
.remainder .remainder-footer .footer-message{
    max-width: 950px;
    margin: 1rem auto;
    font-size: 1.7rem;
}
.remainder .remainder-label .fa fa-envelope{
    position: absolute;
    left: 0;
    top: 0;
    height: 1.2em;
    width: 1.7em;
}
.animation-box{
    color: white;
    position: relative;
    border: 8px solid #222;
    background: transparent;
    padding: 50px 5%;
    margin: 0;
    border-bottom: 4px solid #222;
}
.animation-box .animation-container{
    max-width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.animation-box .animation-text{
    width: 52%;
    height: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 0 3rem 0 0;
    z-index: 3;
    font-size: 1.625rem;
    font-weight: normal;
}
.animation-text .animation-title{
    font-size: 2em;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.animation-text .animation-subtitle{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.animation-box .img-container{
    width: 48%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.animation-box .animation-img-conatiner{
    position: relative;
    z-index: 2;
    max-width: 100%;
    height: auto;
    border: 0;
}
.animation-box .vedio-animation{
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.animation-box .vedio{
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
}


    